#imports for CNN:
torch
torchvision
pandas
numpy
matplotlib
scikit-learn
seaborn
pillow
black
pandas
#imports for preprocess:
mtcnn
insightface
onnxruntime-gpu
tqdm
Pillow
opencv-python
tensorflow # moved here because python version issue with tensorflow